<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xm.core">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <!-- 不依赖Activity的Context弹出Dialog -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 检查是否wifi网络 (如果需要上传日志) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 使用网络上传日志 (如果需要上传日志) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>
</manifest>
